[user]
	name = John Hawthorn
	email = john@hawthorn.email
[github]
	user = jhawthorn
[merge]
	tool = vimdiff
	conflictstyle = zdiff3
[color]
	ui = auto
	diff = auto
	status = auto
	branch = auto
	interactive = auto
	grep = auto
[advice]
	statusHints = false
[branch]
	sort = committerdate
[push]
	# tracking is the deprecated name for "upstream"
	default = tracking
[difftool]
	prompt = false
[core]
	excludesfile = /home/jhawthorn/.gitignore
	whitespace = trailing-space,space-before-tab
	quotepath = false
	autocrlf = input
[alias]
	s = status --short --branch
	l = log --oneline --decorate
	lg = log --graph --pretty=format:'%Cred%h%Creset %an -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
	branchdate = !git for-each-ref --sort='-authordate:iso8601' --format=' %(authordate:iso8601)%09%(refname:short)' refs/heads | sort
	list-authors = !git log -100000 --pretty='%aN <%aE>' | ruby -rset -ne 'print if ($s ||= Set.new).add?($_)'
	bl = branch --sort=-committerdate
[apply]
	whitespace = fix
[rebase]
	autosquash = true
[diff "ruby"]
	funcname = "^ *\\(\\(def\\) .*\\)"
[diff "image"]
	textconv = identify
[init]
	defaultBranch = main
[fetch]
	prune = true
[include]
	path = ~/.gitconfig.local
[diff]
	algorithm = histogram
