[user]
	name = John Hawthorn
	email = john@hawthorn.email
[github]
	user = jhawthorn
[merge]
	tool = nvimdiff
	conflictstyle = zdiff3
[mergetool]
	keepBackup = false
[color]
	ui = auto
	diff = auto
	status = auto
	branch = auto
	interactive = auto
	grep = auto
[advice]
	statusHints = false
[branch]
	sort = committerdate
[push]
	default = simple
	autoSetupRemote = true
[difftool]
	prompt = false
[core]
	excludesfile = ~/.gitignore
	whitespace = trailing-space,space-before-tab
	quotepath = false
	autocrlf = input
	untrackedcache = true
	editor = nvim
[alias]
	s = status --short --branch
	l = log --oneline --decorate
	lg = log --graph --pretty=format:'%Cred%h%Creset %an -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
	branchdate = !git for-each-ref --sort='-authordate:iso8601' --format=' %(authordate:iso8601)%09%(refname:short)' refs/heads | sort
	list-authors = !git log -100000 --pretty='%aN <%aE>' | ruby -rset -ne 'print if ($s ||= Set.new).add?($_)'
	bl = branch --sort=-committerdate
	wip = commit -am WIP
	scratch-untracked = !mkdir -p scratch && git ls-files --others --exclude-standard | grep -v / | xargs -I {} mv {} scratch/
[apply]
	whitespace = fix
[rebase]
	autosquash = true
	autoStash = true
[diff "ruby"]
	funcname = "^ *\\(\\(def\\) .*\\)"
[diff "image"]
	textconv = identify
[init]
	defaultBranch = main
[fetch]
	prune = true
[include]
	path = ~/.gitconfig.local
[diff]
	algorithm = histogram
[pull]
	rebase = true
[credential "https://github.com"]
        helper =
        helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
        helper =
        helper = !/usr/bin/gh auth git-credential
