[submodule "ruby/chruby"]
	path = ruby/chruby
	url = git@github.com:postmodern/chruby.git
[submodule "ruby/ruby-install"]
	path = ruby/ruby-install
	url = git@github.com:postmodern/ruby-install.git
[submodule "ruby/bundler-exec"]
	path = ruby/bundler-exec
	url = git@github.com:jhawthorn/bundler-exec.git
