[submodule "ruby/chruby"]
	path = ruby/chruby
	url = https://github.com/postmodern/chruby
[submodule "ruby/ruby-install"]
	path = ruby/ruby-install
	url = https://github.com/postmodern/ruby-install
[submodule "ruby/bundler-exec"]
	path = ruby/bundler-exec
	url = https://github.com/jhawthorn/bundler-exec
