[submodule "ruby/ruby-install"]
	path = ruby/ruby-install
	url = https://github.com/postmodern/ruby-install
[submodule "zsh/zsh/pure"]
	path = zsh/zsh/pure
	url = https://github.com/sindresorhus/pure.git
