
URxvt.font: -*-terminus-medium-r-normal-*-14-*-*-*-*-*-*-*
URxvt.boldFont: -*-terminus-bold-r-normal-*-14-*-*-*-*-*-*-*

!Xft.antialias: true
!Xft.hinting: true


dzen2.font:       -*-terminus-medium-r-normal-*-12-*-*-*-*-*-*-*
dzen2.foreground: white
dzen2.background: black


URxvt.loginShell:  false
URxvt.utmpInhibit: true
URxvt.imLocale:    en_US-UTF-8

URxvt*internalBorder: 0
URxvt*externalBorder: 0
URxvt*lineSpace:      0
URxvt*scrollBar: false
URxvt*urgentOnBell: true

URxvt*foreground: #ffffff
URxvt*background: #000000
*color0:  #000000
*color8:  #aaaaaa
*color1:  #aa0000
*color9:  #ff0000
*color2:  #00aa00
*color10: #00ff00
*color3:  #aaaa00
*color11: #ffff00
*color4:  #0000aa
*color12: #0000ff
*color5:  #aa00aa
*color13: #ff00ff
*color6:  #00aaaa
*color14: #00ffff
*color7:  #aaaaaa
*color15: #ffffff


URxvt.perl-ext:      default,url-select,clipboard

URxvt.keysym.M-u:    perl:url-select:select_next
URxvt.urlLauncher:   chromium
!URxvt.urlLauncher:   surf
URxvt.underlineURLs: true

URxvt.keysym.M-c:   perl:clipboard:copy
URxvt.keysym.M-v:   perl:clipboard:paste
URxvt.keysym.M-C-v: perl:clipboard:paste_escaped

XDvi*Foreground:XDviblack
XDvi*Background:XDviwhite

